@import "tailwindcss";

@layer base {
  * {
    font-family: var(--font-open-sauce-sans), sans-serif;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-open-sauce-one), sans-serif;
    font-weight: 700;
  }

  body {
    font-family: var(--font-open-sauce-sans), sans-serif;
    font-weight: 400;
  }
}

button {
  @apply cursor-pointer;
}